{% extends "layouts/app.twig" %}

{% block title %}
    Gráfico - Alocação/Tipo
{% endblock %}

{% block content %}

    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-primary">
                Alocação por Tipo de Produto
            </div>
            <div class="card-body">
               <div class="ct-chart ct-allocation"></div>
               <canvas id="allocationChart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>

var allocation = document.getElementById('allocationChart').getContext('2d');

var myPieChart = new Chart(allocation, {
    // The type of chart we want to create
    type: 'pie',
    // The data for our dataset
    data: {
        labels: ['{{ chart_label|join("', '")|raw }}'],
        datasets: [{
            backgroundColor: [{% for label in chart_label %}getRandomColor(),{% endfor %}],
            data: [{{ chart_serie|join(', ') }}]
        }]
    },

    // Configuration options go here
    options: {}
});

function getRandomColor() {
    //var color = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
</script>
{% endblock %}